body{
  background-image: url('./assets/pexels-content-pixie-1405717-2736499.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}.high-priority {
  
  font-weight: bold;
  background-color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}

.completed {
  text-decoration: line-through;
}



  